
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&family=Open+Sans&family=Open+Sans+Condensed:ital,wght@1,300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&family=Open+Sans&family=Open+Sans+Condensed:ital,wght@0,700;1,300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    margin: 0;
}

p {
    font-family: 'Patrick Hand', cursive;
    padding: 10px;
    word-break: break-all;
}


.p1 {
    width: 1500px;
}


img.manual {
    /* margin: 0 auto; */
    display: block;
}

h1 {
    font-family: 'Kaisei HarunoUmi', serif;
}

.layer {
    overflow: scroll;
    position: absolute;
    width: 70%;
    height: 100%;
    padding: 5px;
} 


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    position: relative;
    width: 100%;
    height: 20%;
    background-color: rgb(115, 219, 115);
    border: 4px  groove black;
}

.header_textholder {
    background-color: white;
    position: absolute;
    left: 15%;
    top: 40%;
    height: 30px;
    width: 150px;
}

.main-title {
    margin: 0;
    position: absolute;
    left: 10%;
    font-size: 100%;
}

.main {
    position: relative;
    width: 100%;
    height: 60%;
    background-color: rgb(201, 228, 217);
    border-left: 4px groove black;
    border-right: 4px groove black;
}


.sidebar {
    position: absolute;
    width: 21%;
    height: 100%;
    background-color: white;
}

.content {
    position: absolute;
    width: 79%;
    height: 100%;
    right: 0%;
    border-left: 2px dashed black
}

.part1 {
    position: absolute;
    width: 100%;
    height: 10%;
}

.logo {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 50%;
    margin-top: -0.625em;
    text-align: right;
}

.part2 {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    border-top: 2px dashed black;
}

.subpart1 p {
    padding-left: 0px;
}

.subpart1 h2 {
    padding-left: 0px;
}

.subpart1 {
    position: absolute;
    width: 70%;
    height: 100%;
}

.subpart2 {
    position: absolute;
    right: 0%;
    width: 30%;
    height: 100%;
    border-left: 2px dashed black;
}


.contacts {
    margin-top: 50%;
}


/* h2 {
    text-align: center;
} */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    position: relative;
    width: 100%;
    height: 20%;
    background-color: rgb(115, 219, 115);
    border: 4px groove black;
}



.footer_textholder {
    background-color: white;
    position: absolute;
    right: 15%;
    top: 40%;
    height: 30px;
    width: 150px;
}


* {box-sizing: border-box; margin: 0; }
.widget {
    position: absolute;
    top: 15%;
    padding: 20px 70px;
    background: white;
    font-family: 'Patrick Hand', cursive;
}
.widget-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #222;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 15px;
    border-left: 2px solid #b99d61;
}
.widget-list {
    padding: 0;
    list-style: none;
}
.widget-list a:before {
    content: "\2014";
    margin-right: 14px;
}
.widget-list a {
    text-decoration: none;
    outline: none;
    display: block;
    padding: 6px 0; 
    letter-spacing: 0px;
    font-weight: 300;
    color: #444;
    transition: .3s linear;
}
.widget-list a:hover {color: #b99d61;}

/* .camera {
    text-align: center;
} */




TABLE {
width: 100%;
}
TD { 
padding: 10px;
}
TD.name {
background: #53f0bb;
}
TD.description {
background: #f0f0f0;
}
TD.images {
    width: 75px;
    background: #ffffff;
    color: #fff;
}

img.ph {
    max-height: 50px;
    max-width: 50px;
}

